<div class="jumbotron">
	<div class="container">
		<h1 class="display-4">TODO</h1>
		<p>This is my smart TODO list on Rails</p>
		<%= link_to 'Sign Up', "#" , class: "btn btn-primary btn-lg" %>
	</div>
</div>