@import "bootstrap";
@import "font-awesome";
@import "devise";

.jumbotron{
	text-align: center;
}

.btn-primary{
	background-color: #74b9ff !important;
	border-color: #74b9ff !important;
}

.btn-success{
	background-color: #55efc4 !important;
	border-color: #55efc4 !important;
	
}